<%= flash[:message] %>

<h4>Student</h4>
<p><%= form_tag '/sessions' do %></p>
  <p><%= label_tag "Name" %></p>
  <p><%= text_field_tag 'student[name]' %></p>
  <p><%= label_tag "Password" %></p>
  <p><%= password_field_tag 'password' %></p>
  <p><%= submit_tag 'Log In' %></p>
<% end %>
