<!-- cohort show, instructor dash -->

<h2><%=@cohort.name.capitalize%></h2>
<h3>Students Ranked By Assignments Completed </h3>
<ul>
<% @cohort.ranked_students.each do |student, status| %>
  <b><li><%= "#{student}:"%></b> <br>
  <%="Completed Assignments: #{status[:complete]}, "%>
  <%="Incompleted Assignments: #{status[:incomplete]}" %></li>
<%end%>
</ul>

<h3>Previous Assignments</h3>
 <%= render 'previous_assignments' %>


<div>
<h3>Assign Assignments for <%=@cohort.name%></h3>
<%= render '/cohort_assignments/form.html.erb' %>
</div>

<div>
<h3>Create an Assignment for <%=@cohort.name%></h3>
<%= render '/assignments/form.html.erb' %>
</div>
