<div class="container">
 <div class="row">

  <div class="col-md-8">

<h2><%=@cohort.name.capitalize%></h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Students Ranked By Assignments Completed </h4></div>

  <table class="table table-hover">

  <tbody>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th>Incomplete</th>
    </tr>
    <tr>
      <% @cohort.ranked_students.each do |student, status| %>
        <td><%= "#{student.capitalize}"%></td>
        <td><%="#{status[:complete]}"%></td>
        <td><%="#{status[:incomplete]}" %></td>
      <%end%>
    </tr>
  </tbody>
</table>
</div>
</div>

<br>

  <div class="col-md-4">
  <h4>Previous Assignments</h4>
   <%= render 'previous_assignments' %>
<br>
  <div>
  <h4>Assign Assignments for <%=@cohort.name%></h4>
  <%= render '/cohort_assignments/form.html.erb' %>
  </div>
<br>
  <div>
  <h4>Create an Assignment for <%=@cohort.name%></h4>
  <%= render '/assignments/form.html.erb' %>
  </div>

</div> <!-- col class -->
</div> <!-- row -->
</div> <!-- container -->
