<h1><%= @assignment.name %></h1>

<div> 
<h4> Description: </h4>
<%= @assignment.description %> <br>
<%= @assignment.time %>
</div>

<div>
<h4> Comments </h4>
<%= render 'comments/form' %>
<%= render @assignment.comments %>
</div>