<h1><%= @assignment.name %></h1>
<STRONG>Name:</STRONG> <%= @assignment.name %> <br>
<STRONG>Description: </STRONG><%= @assignment.description %><br>
<strong>Time (hours) : </strong><%= @assignment.time%><br>
<strong>Priority (1-5): </strong><%= @assignment.priority%><br>

<h2>Here are the student statuses</h2>
<%@assignment.statuses(@cohort).each do |student|%>
<ul>
  <% if student[1] == false %>
    <li><%= "#{student[0]}: incomplete" %></li>
  <% else %>
    <li><%= "#{student[0]}: completed"%></li>
  <% end %>
  </ul>
<%end%>

<%= render 'comments/form' %>
<%= render @assignment.comments %>
