<%= form_for @comment do |f| %>
   <div> <%= f.label "Name:" %> </div>
   <div> <%= f.text_field :commenter %> </div>

  <div> <%= f.label "Message:" %> </div>
  <div> <%= f.text_area :body, cols: "40", rows: "2" %> </div>

  <div> <%= f.hidden_field :assignment_id, :value => @assignment.id %> </div>
  <div> <%= f.submit %> </div>

<% end %>