<div class="panel panel-default">

  <div class="panel-heading">
    <h4>Today's Assignments & Tasks </h4>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th> Hours 
        <%= link_to '<i class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></i>'.html_safe, student_path(@student, :sort => {:sort_id => [:time], :order => [:asc]}) %> 
        <%= link_to '<i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></i>'.html_safe, student_path(@student, :sort => {:sort_id => [:time], :order => [:desc]}) %> </th>
      <th> Priority 
      <%= link_to '<i class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></i>'.html_safe, student_path(@student, :sort => {:sort_id => [:priority], :order => [:asc]}) %>
      <%= link_to '<i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></i>'.html_safe, student_path(@student, [:sort] => {:sort_id => [:priority], :order => [:desc]}) %> </th>
    </tr>

    <% @list.sorted_list.each do |item| %>
      <tr>
        <% if item.is_a?(Assignment) %>
            <td> <%= link_to item.name, assignment_path(item) %></td>
            <td> <%= item.description %> </td>
            <td> <%= item.time %> </td>
            <td> <%= item.priority %> </td>
            <td> <%= link_to '<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>'.html_safe, complete_assignment_path(:assignment =>{:assignment_id => item.id}) %> </td>
        <% elsif item.is_a?(Task) %>
            <td><%= link_to item.name, task_path(item)%></td>
            <td> <%= item.description %> </td>
            <td> <%= item.time %> </td>
            <td> <%= item.priority %> </td>
            <td> <%= link_to '<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>'.html_safe, complete_task_path(:task =>{:task_id => item.id}) %> </td>
          <% end %>
      </tr>
    <% end %>

  </table>
</div>