<table class="table">
  <col width="120">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Time (hours)</th>
    <th>Status</th>
  </tr>
  <% @student.tasks_and_assignments.each do |item| %>
    <tr>
      <% if item.is_a?(Assignment) %>
          <td> <%= link_to item.name, assignment_path(item) %></td>
          <td> <%= item.description %> </td>
          <td> <%= item.time %> </td>
          <td> <%= @student.assignment_status(item) %> </td>
          <td> <%= link_to 'Change status', complete_assignment_path(:assignment =>{:assignment_id => item.id}) %> </td>
      <% elsif item.is_a?(Task) %>
          <td><%= link_to item.name, task_path(item)%></td>
          <td> <%= item.description %> </td>
          <td> <%= item.time %> </td>
          <td> <%= item.task_status %></td>
          <td> <%= link_to 'Change status', complete_task_path(:task =>{:task_id => item.id}) %> </td>
        <% end %>
    </tr>
  <% end %>
</table>
