<p id="notice"><%= notice %></p>
<br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4>All Students</h4>
  </div>

  <!-- Table -->
  <table class="table table-hover">

  <tbody>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cohort</th>
    </tr>
    <% @students.each do |student| %>

      <tr>
        <td><%= student.name.capitalize %></td>
        <td><%= mail_to(student.email) %></td>
        <td><%= student.cohort.name %></td>
      </tr>
      <!-- generate list of students -->
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= mail_to(student.email) %></td>
          <td><%= student.cohort.name %></td>
        </tr>
      <% end %>
      <!-- -->
    </tbody>
  </table>
</div>

