<p id="notice"><%= notice %></p>

<div class="container">
 <div class="row">

  <div class="col-md-8">
   Today's Tasks & Assignments
   <%= render 'list-of-tasks-and-assignments' %><br>
   <!-- needs to properly display plural/singular forms or change structure -->
<!--         "You have #{incomplete_assignments.size} incomplete assignments and #{incomplete_tasks.size} incomplete tasks." -->

 </div>

 <div class="col-md-4">
   <div>
    Add Task
    <%= render '/tasks/form' %>
   </div>

   <div>
    Social Students
    <%= render 'social-students' %>
   </div>
   
   <div>
    Most Talked About Assignments
    <%= render '/assignments/most-talked-about-assignments' %>
   </div>

  </div>
  </div> <!-- row -->
</div> <!-- container -->