<p id="notice"><%= notice %></p>

<h1><%= @student.name %></h1>
<h2><%= @student.cohort.name %></h2>


<h3> Today's Tasks & Assignments </h3>
<table>
  <% @student.tasks_and_assignments.each do |item| %>
    <tr>
      <% if item.is_a?(Assignment) %>
          <td> <%= link_to item.name, assignment_path(item) %></td>
          <td> <%= item.description %> </td>
          <td> <%= item.time %> </td>
          <td> <%= @student.assignment_status(item) %> </td>
          <td> <%= link_to 'Done', complete_assignment_path(:assignment =>{:assignment_id => item.id}) %> </td>
      <% elsif item.is_a?(Task) %>
          <td><%= link_to item.name, task_path(item)%>
          <td> <%= item.status %></td>
          <td> <%= link_to 'Done', complete_task_path(:task =>{:task_id => item.id}) %> </td>
        <% end %>

    </tr>
  <% end %>
</table>

<!--  -->

<!-- Task -->
<h3>Add Task</h3>
<%= render '/tasks/form' %>

<br>

<div class="footer">
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
  
