<p id="notice"><%= notice %></p>


<!-- 
 # student needs to see assignments
 # see tasks
 # add tasks - name, descrip, priority
-->

<h1><%= @student.name %></h1>
<h2><%= @student.cohort.name %></h2>



<!-- Assignments -->
<h2>Assignments</h2>
<table class="assignments-table">
<tr>
 <th>Name</th>
 <th>Description</th>
 <th>Time</th>
 <th>Priority</th>
 <th>Status</th>
</tr>


 <% @student.assignments.each do |assignment| %>
 <tr>
  <td><%= assignment.name %></td>
  <td><%= assignment.description %></td>
  <td><%= assignment.time %></td>
  <!--ass8 = StudentAssignment.where('student_id = 6').where("assignment_id = 8")-->
  <td><%= assignment.priority %></td>
  
  <td><%= @student.assignment_status(assignment) %></td>
 </tr>
 <% end %>

</table>

<h2>Tasks</h2>
<table>
<tr>
 <th>Name</th>
 <th>Description</th>
 <th>Time</th>
 <th>Priority</th>
 <th>Status</th>
</tr>

 <% @student.tasks.each do |task| %>
 <tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.priority%></td>
  <td><%= task.time %></td>
 </tr>
<% end %>
</table>


<!-- form -->
<h2>Add Task</h2>
<div class="task-form">
 <%= form_for(@task) do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %><br>

   <%= f.label :description %>
   <%= f.text_field :description %><br>

   <%= f.label :priority %>
   <%= f.number_field :priority %><br>

   <%= f.label :time %>
   <%= f.number_field :time %><br>

   <%= f.hidden_field :student_id, :value => @student.id %>
   <%= f.submit %>
 <% end %>
</div>

<br>

<div class="footer">
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
  
