<p id="notice"><%= notice %></p>

<h1><%= @student.name %></h1>
<h2><%= @student.cohort.name %></h2>


<h3> Today's Tasks & Assignments </h3>
<%= render 'list-of-tasks-and-assignments' %>
<%= @student.assignments_tasks_status_info %>

<h3>Add Task</h3>
<%= render '/tasks/form' %>
<br>

<h3> Most Social Students </h3>
<%= render 'social-students' %>
  
<h3> Most Talked About Assignments </h3>
<%= render '/assignments/most-talked-about-assignments' %>

<!-- <div class="footer">
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
 -->