<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main-navbar">
    <%= link_to '/cohorts', '/cohorts' %>
    <%= link_to '/instructors', '/instructors' %>
    <%= link_to '/instructors sign up', '/instructors/new' %>
    <%= link_to '/students', '/students' %>
    <%= link_to '/students sign up', '/students/new' %>
    <%=link_to "logout", '/logout', method: :delete %>
  </div>
    <%= yield %>
  </body>
</html>
