<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
          <% if @user.is_a?(Instructor) %>
            <%= link_to 'home', "/instructors/#{@user.id}" %>
            <a href="/cohorts", id="nav">Cohorts</a>
            <a href="/instructors", id="nav">Instructors</a>
            <a href="/students", id="nav">Students</a>
            <%=link_to "Log Out", '/logout', method: :delete %>
            <div class="user-header">Hi, <%=@user.name%></div>
          <% elsif @user.is_a?(Student)%>
            <%= link_to 'home', "/students/#{@user.id}" %>
            <%= link_to 'students', '/students' %>
            <%=link_to "logout", '/logout', method: :delete %>
            <div class="user-header">Hi, <%=@user.name%></div>
          <% elsif @user.nil? %>
          <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
              <a href="/students/new", id="nav">Student Sign Up</a>
              <a href="/instructors/new", id="nav">Instructor Sign Up</a>
            </ul>
          </div>
          <% end %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
  <div class="container">
    <p class="text-muted">Clark, Jon, Laurie</p>
  </div>
</footer>

  </body>
</html>
