<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default">

  <header class="navbar navbar-fixed-top navbar">
    <div class="container">
      <div class="navbar-header">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag('logo-45.png') %>
        </div>
        <div class="col-md-8">

          <% if @user.is_a?(Instructor) %>
            <%= link_to 'Home', instructor_path(@user) %>
            <a href="/cohorts", id="nav">Cohorts</a>
            <a href="/instructors", id="nav">Instructors</a>
            <a href="/students", id="nav">Students</a>
            <%=link_to "Log Out", '/logout', method: :delete %>

            <div class="user-header">Hi, <%=@user.name%></div>

          <% elsif @user.is_a?(Student)%>
            <%= link_to 'Home', student_path(@user) %>
            <%= link_to 'Students', students_path %>
            <%=link_to "Log Out", '/logout', method: :delete %>
            <div class="user-header">Hi, <%=@user.name%></div>
          <% elsif @user.nil? %>
          <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
              <a href="/students/new", id="nav">Student Sign Up</a>
              <a href="/instructors/new", id="nav">Instructor Sign Up</a>
            </ul>
          </div>
          </div>
          <% end %>

        </div>

      </div>
    </div>
  </header>
  </nav>
  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
  <div class="container">
    <p class="text-muted">Clark, Jon, Laurie</p>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>
